/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table {
    style="width:100%"
}

table tr:nth-child(odd)
{
    background-color:#eee;
}

table tr:nth-child(even){
    background-color:#fff;
}

table tr.cash {
    background-color:#fff;
    font-size: large;
    font-weight: bold;
}

table tr.total {
    background-color:#fff;
    font-size: large;
    font-weight: bold;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: light blue;
    color: white;
    margin-bottom: 15px;
  }

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
  }
