body {
    background-color: rgb(33, 37, 41);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

div {
    background-color: #ff66ff;
}


h1 {
    text-align: center;
}

hr {
    border-top: 10px solid white;
}