body {
    background-color: rgb(45,45,45);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.div1{
    background-color: #ff66ff;
}

.div2{
    background-color: #ff9933;
}