{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

asdasd
<br>

    <table style="width:100%">
        <tr>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Price</th>
          <th>TOTAL</th>
        </tr>
        {% for element in list %}
        <tr>
          <td>{{ element.symbol }}</td>
          <td>{{ element.shares }}</td>
          <td>{{ element.price }}</td>
          <td>{{ element.total }}</td>
        </tr>
        {% endfor %}
        <tr class="cash">
          <td></td>
          <td></td>
          <td>Cash</td>
          <td>{{ cash }}</td>
        </tr>
        <tr class="total">
          <td></td>
          <td></td>
          <td>TOTAL</td>
          <td>{{ whole_total }}</td>
        </tr>
    </table>
{% endblock %}
