{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


    <table style="width:100%">
        <tr>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Price</th>
          <th>TOTAL</th>
        </tr>
        {% for element in list %}
        <tr>
          <td>{{ element.symbol }}</td>
          <td>{{ element.amount }}</td>
          <td>{{ element.price }}</td>
          <td>{{ element.total }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
