{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

{% if message %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{ message }}
  </div>
{% endif %}

    <form action="/sell" method="post">
        <tr>
            <td>
                <select name="symbol">
                    <option value="">--Please choose a stock--</option>
                    {% for stock in stocks %}
                    <option value={{stock.symbol}}>{{stock.symbol}}</option>
                    {% endfor %}
                </select>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min=1>
                </div>
                <button class="btn btn-primary" type="submit">Sell</button>
            </td>
        </tr>
    </form>
{% endblock %}
